.DS_Store
barsaver.conf

.build/
.swiftpm/
Packages/

DerivedData/
*.xcuserstate
xcuserdata/

*.hmap
*.ipa
*.dSYM
*.dSYM.zip

playground.xcworkspace
timeline.xctimeline

Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
